body {
  background-image: url("../images/alum.jpg");
  background-size: cover;
}

.navbar {
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  background-color: #343a40;
  opacity: 0.75;
}

#name {
  color: #2783e6;
  opacity: initial !Important;
  font-size: 30px;
  font-weight: bold;
  font-family: "Kaushan Script", cursive;
  margin-left: 30px;
}

#name:hover {
  color: #ff6862;
  cursor: default;
}

.left {
  text-align: right;
}
.center {
  text-align: center;
}
.jumbotron {
  background-color: #343a40;
  opacity: 0.75;
  color: white;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 15px;
}

.jumbotron > p > a {
  color: white;
  font-size: 300%;
  padding: 5%;
}

.carousel-inner {
  border-radius: 15px;
  margin-bottom: 15px;
}

.carousel-caption {
  background-color: #343a40;
  opacity: 0.75;
  border-radius: 15px;
  padding: 10px;
}

.mobilCaption {
  display: none;
}

.army {
  color: yellow;
}

.footer {
  background-color: #343a40;
  opacity: 0.75;
  color: white;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

hr {
  display: block;
  height: 0;
  border-bottom: 1px solid white;
  margin: 0;
}

.cardBack {
  color: white;
  background-color: #343a40;
  opacity: 0.7;
  margin-bottom: 20px;
  border-radius: 15px;
  padding: 20px;
}

.card > img {
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.card {
  background-color: #343a40;
  opacity: 0.75;
  color: white;
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
  border-radius: 15px;
  margin-bottom: 20px;
}

a.card-link {
  color: white;
}

.fab {
  color: white;
}

.fas:hover,
.fab:hover,
a.card-link:hover,
.blueHover:hover {
  color: #2783e6 !important;
}

.col-lg-8 {
    margin: auto;
}

.messenger {
  background-color: #343a40;
  opacity: 0.75;
  color: white;
  border-radius: 15px;
  padding: 15px;
  margin-bottom: 25px;
  margin-right: 30px;
  
  
  

}

@media only screen and (max-width: 767px) {
  
  .mobilCaption {
    text-align: center;
    display: block;
    background-color: #343a40;
    opacity: 0.7;
    color: white;
    padding: 20px 15px 30px;
    
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon{
    margin-top: 130px;
    
  }
}
